$seam: 48rem;
$edge: 47.9375rem;

:root {
	--seam: "wide";
}

@media (max-width: $edge) {
	:root {
		--seam: "narrow";
	}
}

@mixin wide {
	@media (min-width: $seam) {
		@content;
	}
}

@mixin narrow {
	@media (max-width: $edge) {
		@content;
	}
}

@mixin light {
	@media (prefers-color-scheme: light) {
		@content;
	}
}

@mixin calm {
	@media (prefers-reduced-motion: reduce) {
		@content;
	}
}
